body {
  font-size: 100%;
  margin: 0 auto;
  width: 99%;
}
.Pcontainer {
  border: 2px solid grey;
  padding: 0px;
  display: grid;
  grid-template-columns: 50px 120px 1fr 1fr;
  grid-template-rows: 80px 270px 300px 210px 160px 190px;
  grid-template-areas:
    "logo header menu menu"
    "Pcon Pcon Pcon Pcon"
    "Scon Scon Scon Scon"
    "feat feat feat feat"
    "rev rev rev rev"
    "foot foot foot foot";
}
.logo {
  margin-left: 0px;
  margin-top: 3px;
  grid-area: logo;
}

.logo > a {
  margin: 0px;
}

.header {
  margin: 0px;
  padding: 0px;
  grid-area: header;
}
.header > a {
  margin: 0px;
}
.menu {
  grid-area: menu;
  margin: 0px;
  padding: 0px;
}

.menu > ul {
  margin: 0px;
  padding: 0px;
}
.menu li {
  float: left;
  width: 24%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.menu a {
  text-align: center;
  display: block;
  margin: 0px;
  padding: 0px;
  padding-right: 5px;
  border: 0px;
  text-decoration: none;
  color: black;
  font-family: "Times New Roman";
  font-size: 67%;
}
.menu a:hover {
  background-color: #f2c94c;
}

.Pcontent {
  margin: 0px;
  grid-area: Pcon;
  font-family: "times new roman";
  font-size: 72.5%;
  text-align: justify;
  padding-right: 10px;
  text-decoration: none;
  background-color: rgb(235, 219, 199);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "text text"
    "fig Cbutton";
}
.Ptext {
  margin-left: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  grid-area: text;
}

figure {
  grid-area: fig;
}

.Cbutton {
  font-size: 65%;
  float: center;
  display: block;
  margin: 0 auto;
  width: 50%;
  background-color: #f2c94c;
  padding: 7px;
  border-radius: 10px;
  border: 0px;
  text-decoration: none;
  font-style: none;
  grid-area: Cbutton;
  margin-left:0px;
  padding-left:0.5px;
  padding-right:0.5px;
}

.Pcontent > a {
  text-decoration: none;
}

.Scontent {
  font-family: "Times New Roman";
  font-size: 72.5%;
  text-align: justify;
  padding-right: 10px;
  text-decoration: none;
  grid-area: Scon;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "text text"
    "fig Sbutton";
}

.Stext {
  grid-area: text;
}
.fig {
  grid-area: fig;
}
.Sbutton {
  font-size: 65%;
  float: center;
  display: block;
  margin: 0 auto;
  width: 50%;
  background-color: #f2c94c;
  padding: 7px;
  border-radius: 10px;
  border: 0px;
  text-decoration: none;
  font-style: none;
  grid-area: Sbutton;
  padding-left:0.5px;
  padding-right:0.5px;
}

.Scontent > a {
  text-decoration: none;
}

.features {
  background-color: rgb(235, 219, 199);
  grid-area: feat;
  margin: 0px;
  padding: 0px;
  padding-right: 10px;
  padding-left: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 50px;
  grid-template-areas:
    "t1 t2 t3 t4"
    "link link link link";
}
.t1,
.t2,
.t3,
.t4 {
  padding-top: 11px;
  padding-left: 11px;
  padding-right: 0px;
  font-family: "Times New Roman";
  font-size: 65%;
}

.Lservices {
  grid-area: link;
  margin: 0px;
}

.features > ul {
  margin: 0px;
  padding: 0px;
}

.features li {
  float: left;
  width: 25%;
  list-style-type: none;
  padding: 0px;
  padding-top: 75px;
}
.features a {
  display: block;
  margin: 1px;
  padding: 1px;
  padding-right: 8px;
  border: 0px;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  color: black;
  background-color: #f2c94c;
  font-size: 72.5%;
}
.features a:hover {
  background-color: rgb(71, 170, 13);
}

.reviews {
  margin: 0px;
  grid-area: rev;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 1fr;
  grid-template-areas:
    "text ."
    "fig1 fig2";
}
.reviews > p {
  font-size: 70%;
  padding-left: 24px;
  text-align: center;
}

.fig1 {
  margin: 0 auto;
  padding-left: 5px;
  padding-top: 5px;
  grid-area: fig1;
}
.fig2 {
  margin: 0 auto;
  padding-left: 5px;
  padding-top: 5px;
  grid-area: fig2;
}

.footer {
  background-color: rgb(223, 216, 208);
  margin: 0px;
  margin-top: 7px;
  padding-right: 10px;
  padding-left: 0px;
  grid-area: foot;
  display: grid;
  grid-template-columns: 80px 1fr 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    ". Norea ."
    "linkf . Smedia";
}

.footer > ul {
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  grid-area: linkf;
}
.footer li {
  width: 32%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding-top: 5px;
}

.footer > ul a {
  display: block;
  margin: 0px;
  padding: 0px;
  padding-right: 0px;
  border: 0px;
  text-decoration: none;
  color: black;
  font-family: "Times New Roman";
  font-size: 60%;
}
.norea {
  grid-area: Norea;
  margin: 0px;
  font-family: "Times New Roman";
  font-size: 70%;
  text-align: justify;
  padding-top: 10px;
  text-decoration: none;

}
.norea > p {
  margin: 0px;
  padding-top: 3px;
}

.Smedia {
  grid-area: Smedia;
  padding-top: 32px;
  padding-left: 2px;
  font-size: 70%;
}
.Smedia > a {
  padding: 0px;
  margin: 0px;
}
