* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 100%;
  margin: 0 auto;
  width: 99%;
  clear: both;
}
.ParentContact {
  width: 100%;
  margin: 0 auto;
  border: 1px solid grey;
  padding: 0px;
  display: grid;
  grid-template-columns: 35px 55px 1fr 1fr;
  grid-template-rows: 80px 650px 190px;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "foot foot foot foot";
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-areas: "logo menu";
}
.logo {
  grid-area: logo;
}
.menu {
  grid-area: menu;
  margin: 0px;
  padding: 0px;
}

.menuflex {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.menuflex > li {
  flex: 1 1 50%;
  padding: 0px;
  margin-left: 60px;
}
.menuflex li {
  display: flex;
  justify-content: flex-start;
}

.menu a,
.menu p {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-decoration: none;
  color: black;
  font-family: "Times New Roman";
  font-size: 75%;
  width: 44px;
}
.menu a:hover {
  background-color: #f2c94c;
}

.main {
  grid-area: main;
  background-color: rgb(235, 219, 199);
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
}
.main > p {
  font-family: "Times New Roman";
  font-size: 85%;
  margin: 0 auto;
  width: 95%;
  line-height: 15px;
  text-align: left;
}
.checkbox {
  font-size: 70%;
  margin: 0 auto;
  width: 73%;
  padding-top: 10px;
  margin-top: 30px;
  text-align: center;
}
.formtext {
  margin: 0px;
  padding: 30px 0px 0px 0px;
  font-size: 80%;
}
.form {
  float: center;
  display: block;
  margin: 0 auto;
  width: 85%;
  border: 1px solid #f2c94c;
  font-size: 80%;
  padding-bottom: 8px;
}
#txtarea {
  height: 300px;
}

.Mbutton {
  font-size: 70%;
  display: block;
  margin: 0 auto;
  background-color: #f2c94c;
  border-radius: 4px;
  border: 0px;
  text-decoration: none;
  font-style: none;
  margin-right: 138px;
  padding: 2px;
}

.foot {
  grid-area: foot;
  padding-top: 60px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 15px;
  background-color: rgb(223, 216, 208);
  font-family: "Times New Roman";
  text-align: justify;
  font-size: 60.5%;
}

.foot > a {
  text-decoration: none;
}
.Fbutton {
  font-size: 60.5%;
  display: block;
  background-color: #f2c94c;
  padding: 2px;
  border-radius: 30px;
  border: 0px;
  text-decoration: none;
  margin-top: 30px;
}

.Fbuttondiv > a {
  text-decoration: none;
}
.foot > .Smedia {
  text-align: right;
  margin-right: 10px;
  padding-right: 2px;
}

@media screen and (min-width: 700px) {
  .ParentContact {
    grid-template-columns: 40px 1fr 1fr 1fr 405px 40px;
    grid-template-rows: 80px 770px 1fr;
    grid-template-areas:
      ". header header header header ."
      "main main main main main main"
      "foot foot foot foot foot foot";
  }
}

@media screen and (min-width: 1200px) {
  .header {
    grid-template-columns: 0.45fr 0.75fr 0.6fr;
    grid-template-areas: ". logo menu";
  }
}
@media screen and (min-width: 700px) {
  #logoimage {
    width: 118px;
    height: 73px;
  }
}
@media screen and (min-width: 1065px) {
  .logo {
    position: absolute;
    left: 0px;
    animation-name: inti;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
  }
}

@keyframes inti {
  from {
    transform: translateX(-100%) scale(0.05);
  }
  to {
    transform: translateX(400%) scale(1);
  }
}
@media screen and (min-width: 700px) {
  .menu li {
    padding-left: 0px;
    margin-right: 16px;
  }
}
@media screen and (min-width: 400px) and (max-width: 700px) {
  .menuflex {
    flex-wrap: nowrap;
  }
  .menuflex li {
    justify-content: center;
    flex: 1 1 100%;
  }
}

@media screen and (min-width: 400px) {
  .menuflex li {
    margin-left: 0px;
  }
}

@media screen and (min-width: 700px) {
  .menuflex li {
    justify-content: flex-end;
    flex: 1 1 46%;
  }
  .menuflex {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1065px) {
  .menuflex {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 700px) {
  .menu a,
  .menu p {
    font-size: 95%;
    width: 81px;
  }
}

@media screen and (min-width: 700px) {
  .main {
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 700px) {
  .main > p {
    font-size: 100%;
    margin: 0 auto;
    width: 78%;
    line-height: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 700px) {
  .checkbox {
    width: 53%;
    padding-top: 20px;
    font-size: 100%;
  }
}
@media screen and (min-width: 700px) {
  .formtext {
    padding: 50px 0px 0px 40px;
    font-size: 100%;
  }
}
@media screen and (min-width: 700px) {
  .form {
    margin: 0 auto;
    width: 65%;
    font-size: 100%;
  }
}

@media screen and (min-width: 700px) {
  .Mbutton {
    font-size: 85%;
    padding: 4px;
  }
}

@media screen and (min-width: 700px) {
  .foot {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 100%;
  }
}
@media screen and (min-width: 700px) {
  .Fbutton {
    font-size: 85%;
    padding: 5px;
    margin-top: 10px;
  }
}
@media screen and (min-width: 700px) {
  #rrss1,
  #rrss2 {
    width: 30px;
    height: 30px;
  }
}
